.item h2{
  color: red;
}

.listElement{
  display: flex;
}

.form-group{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.form-group label {
  margin-right: 10px;
}

.addItems{
  margin-top:17px;
  margin-left: 800px;
}


.form-group input {
  width: 30px; 
  border-radius: 5px;
}

.button{
  background-color: brown;
  color: white;
  margin-left: 23%;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 9px;
  
}